<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="SlotPOSEntities" connectionString="metadata=res://*/SlotPOSModel.csdl|res://*/SlotPOSModel.ssdl|res://*/SlotPOSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(Local);Initial Catalog=SSKRFIDPOSLive;User ID=sa;Password=123;MultipleActiveResultSets=True&quot;"
      providerName="System.Data.EntityClient" />
    <add name="SlotPOS.Properties.Settings.SlotPOSConnectionString"
      connectionString="Data Source=(Local);Initial Catalog=SSKRFIDPOSLive;User ID=sa;Password=123;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" />
    <add name="SlotPOS.Properties.Settings.SlotPosRFIDConnectionString"
      connectionString="Data Source=(Local);Initial Catalog=SSKRFIDPOSLive;User ID=sa;Password=123"
      providerName="System.Data.SqlClient" />
    <add name="SlotPOS.Properties.Settings.SlotPosRFIDHauntedConnectionString"
      connectionString="Data Source=(Local);Initial Catalog=SSKRFIDPOSLive;User ID=sa;Password=123"
      providerName="System.Data.SqlClient" />
    <add name="SlotPOS.Properties.Settings.SlotPOS_SSKConnectionString"
      connectionString="Data Source=(Local);Initial Catalog=SSKRFIDPOSLive;User ID=sa;Password=123"
      providerName="System.Data.SqlClient" />
    <add name="SlotPOS.Properties.Settings.ssk9july2018ConnectionString"
      connectionString="Data Source=(Local);Initial Catalog=SSKRFIDPOSLive;User ID=sa;Password=123"
      providerName="System.Data.SqlClient" />
    <add name="SlotPOS.Properties.Settings.SLOTPOSRFIDConnectionString1"
      connectionString="Data Source=(Local);Initial Catalog=SSKRFIDPOSLive;User ID=sa;Password=123"
      providerName="System.Data.SqlClient" />
    <add name="SlotPOS.Properties.Settings.SSKRFIDPOSLive1Nov2018aftermeberserviceConnectionString"
      connectionString="Data Source=(Local);Initial Catalog=SSKRFIDPOSLive1Nov2018aftermeberservice;User ID=sa;Password=123"
      providerName="System.Data.SqlClient" />
    <add name="SlotPOS.Properties.Settings.SSKRFIDPOSLiveConnectionString"
      connectionString="Data Source=(Local);Initial Catalog=SSKRFIDPOSLive;User ID=sa;Password=123"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>